//  Variables

$website-width: 1280px;
$main-color: #00a2ff;
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #333;
$bg-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
    url('../img/banner.jpg');
