// Tablets & smaller
@media (max-width: 568px) {
    h2 {
        font-size: 1.5rem;
    }
    .lead {
        font-size: 1rem;
    }

    // Home page

    .header-home {
        padding: 0.65rem;
    }

    #main-nav {
        flex-direction: column;
        justify-content: center;

        #logo {
            margin-bottom: 0.5rem;
        }
    }

    .header-content {
        h1 {
            font-size: 2rem;
        }
        .btn-light {
            padding: 0.5rem 1rem;
            font-size: 0.75rem;
        }
    }

    #home {
        &-a .specialize {
            grid-template-columns: 1fr;
            grid-gap: 2rem;
        }

        &-b {
            grid-template-columns: 1fr;
        }

        &-c .process {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    #footer {
        .footer-content {
            flex-direction: column;
        }
        .social > * {
            margin-top: 1rem;
        }
    }

    #header.header-inner {
        height: 8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    // About Page

    #about-us {
        .banner {
            grid-template-columns: 1fr;
            grid-gap: 0;

            .image {
                display: block;
            }

            .details {
                border-left: unset;
                border-bottom: 2px solid $main-color;
            }
        }
    }

    #our-promises {
        .promises {
            grid-template-columns: 1fr;
            grid-gap: 2rem;
        }
    }

    // Services Page
    #work {
        .projects {
            grid-template-columns: 1fr;
            padding: 1.5rem;

            .project {
                margin: 0.5rem 0;
            }
        }
    }

    // Contact Page
    #contact-us {
        form {
            width: 80%;
        }
    }

    #contact-mode .container {
        grid-template-columns: 1fr;
        grid-gap: 2rem;
    }
}
