@import 'config';
@import 'utilities';

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Dosis', sans-serif;
    line-height: 1.6;
    background: #fff;
    letter-spacing: 0.5px;
}

a {
    text-decoration: none;
    color: $dark-color;
}

ul {
    list-style: none;
}

h2,
h3,
h4 {
    text-transform: uppercase;
}

img {
    width: 100%;
    height: 100%;
}

%underline-shared {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    transition: all 0.25s ease-in-out;
}

// Logo
#logo {
    font-size: 1.5rem;
    font-style: italic;
    padding: 0 0.5rem;
    border-radius: 50%;
    border: 2px solid $main-color;
    text-shadow: 2px 2px $main-color;
    letter-spacing: 3px;
}

#main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    position: relative;
    z-index: 11111122;

    ul {
        display: flex;
        align-items: center;
        margin: 0.5rem 0;

        li {
            padding: 0 1.5rem;

            a {
                color: #fff;
                padding-bottom: 0.5rem;
                position: relative;
                text-transform: uppercase;

                &.current:before {
                    @extend %underline-shared;
                    background-color: $main-color;
                    visibility: visible;
                    transform: scaleX(1);
                }

                &:before {
                    @extend %underline-shared;
                    background-color: $medium-color;
                    visibility: hidden;
                    transform: scaleX(0);
                }

                &:hover:before {
                    visibility: visible;
                    transform: scaleX(1);
                }
            }
        }
    }
}

// Header
#header {
    background: $bg-image no-repeat center center/cover;
    height: 100vh;
    color: #fff;
    position: relative;

    #main-nav {
        padding: 0.5rem 0;
    }

    .header-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-content: center;

        p {
            max-width: 70%;
        }
    }

    &.header-inner {
        height: 4rem;
        border-bottom: 2px solid $main-color;
    }
}

section {
    color: $dark-color;
}

.underline {
    @extend %underline-shared;
    position: relative;
    background-color: $main-color;
    max-width: 10%;
    margin: 0.5rem auto 1rem;
}

#home {
    &-a {
        .specialize {
            padding-top: 1.5rem;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 2rem;

            i {
                color: $main-color;
                padding-bottom: 1.25rem;
            }

            .special > p {
                padding-bottom: 0.5rem;
            }
        }
    }

    &-b {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        .stats {
            padding: 7rem 0;
            border-bottom: 2px solid $main-color;
        }

        .stats:hover {
            transition: all 0.5s ease-in-out;
            transform: scale(1.025);
        }

        .stats:nth-child(odd) {
            background-color: #f4f4f4;
        }

        .stats:nth-child(even) {
            background-color: #ccc;
        }
    }

    &-c {
        color: #fff;
        .process {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 3rem;
            padding-top: 2rem;
            .step {
                & > * {
                    margin: 0.6rem;
                }

                i {
                    display: flex;
                    position: relative;
                    flex-direction: column;
                    align-items: center;
                    align-content: center;
                    margin: 0 auto;
                    padding: 2rem;
                    height: 3rem;
                    width: 3rem;
                    background-color: $dark-color;
                    color: #fff;
                    border-radius: 50%;
                }

                i:hover {
                    transition: all 0.5s ease-in-out;
                    background-color: $main-color;
                    transform: scale(1.1);
                }

                i:hover > .count {
                    background-color: #fff;
                    color: $main-color;
                    transition: all 0.5s ease-in-out;
                }

                .count {
                    position: absolute;
                    top: 0;
                    right: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #fff;
                    font-size: 1rem;
                    padding: 0.75rem;
                    width: 0.75rem;
                    height: 0.75rem;
                    background: $main-color;
                    border-radius: 50%;
                }
            }
        }
    }
}

// About page

// About Me Section
#about-us {
    .banner {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-gap: 1.2rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .details {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-content: center;
            align-items: center;
            padding: 1.5rem;
            background: #f4f4f4;
            border-left: 2px solid $main-color;
        }
        .details > p {
            margin-bottom: 1rem;
        }
    }
}

// Progress Bar
#progress-bar {
    background-color: $dark-color;
    color: #fff;

    .bars {
        padding-top: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        align-content: flex-start;

        .progress,
        div {
            width: 100%;
            background-color: $medium-color;
            height: 1.1rem;
            border-radius: 3px;
        }
        .progress {
            background-color: $medium-color;
            margin-bottom: 2rem;
            margin-top: 0.5rem;

            div {
                background-color: $main-color;
            }
        }
    }
}

#our-promises {
    .promises {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 4rem;

        i {
            color: $main-color;
            padding-bottom: 1rem;
        }
    }
}

// Services Page
#work {
    .projects {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        .project {
            position: relative;
            overflow: hidden;

            .content:after {
                content: '';
                width: 200%;
                height: 200%;
                position: absolute;
                top: 0;
                left: 0;
                background: $main-color;
                visibility: hidden;
                transform: translateX(-75%) translateY(-75%) rotate(-28deg);
                z-index: -1;
                opacity: 0.8;
            }

            .content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
                height: 100%;
                color: #fff;
                font-weight: bold;
                position: absolute;
                top: 0;
                left: 0;
                visibility: hidden;
                transform: translateY(-100%);
                z-index: 2;
            }
        }

        .project:hover {
            transition: all 1s ease-in-out;
            transform: scale(1.1);
            border-radius: 3px;
            z-index: 111;

            .content,
            .content:after {
                visibility: visible;
                transform: none;
                transition: all 1s ease-in-out;
            }

            .content:after {
                transform: scale(2) rotate(-28deg);
            }
        }
    }
}

// Contact Page

// Contact Us Section
#contact {
    &-us {
        form {
            width: 60%;
            margin: auto;
        }

        form > * {
            display: block;
            font-family: inherit;
            width: 100%;
            height: 1rem;
            margin: 1rem 0;
            padding: 0.5rem;
            border: none;
            outline: none;
            border-bottom: 2px solid $main-color;
        }

        form {
            display: grid;
            grid-template-columns: 1fr;
        }

        textarea {
            height: 4rem;
        }

        form button {
            border: none;
            margin-top: 2rem;
            padding: 0;
            height: 2.5rem;
            background-color: $dark-color;
            color: #fff;
            cursor: pointer;
            transition: all 0.5s ease-in-out;
        }

        form > *:hover:not(button),
        form > *:focus:not(button) {
            border-radius: 0.5rem;
            margin: 1rem auto;
        }

        form button:hover {
            background-color: $main-color;
        }
    }

    &-mode {
        background: $medium-color;

        .container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            i {
                padding-bottom: 0.5rem;
                transition: all 0.5s ease-in-out;
            }

            i:hover {
                color: $main-color;
                transform: scale(1.1);
            }
        }
    }
}

// Footer
#footer {
    background: $dark-color;
    color: #fff;
    padding: 1rem 1rem;

    .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;

        .social {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 0.75rem;

            i {
                display: flex;
                justify-content: center;
                align-items: center;
                align-content: center;
                padding: 0.4rem;
                border-radius: 50%;
                border: 2px solid #fff;
                cursor: pointer;
                transition: all 0.5s ease-in-out;
            }

            i:hover {
                background: #fff;
                color: $dark-color;
                border-color: $main-color;
                transform: scale(1.2);
            }
        }
    }
}

@import 'media';
